<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:each="API:${array}">
        <div th:text =${API.url}> </div>
        <div th:text =${API.code}> </div>
        <div th:text =${API.time}> </div>
        <div th:text =${API.message}> </div>
        <div th:text =${API.body}> </div>
        <div> --------------------------------------------------------------------------------------------</div>
    </div>
</body>
</html>