<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/ApiStatics.css">
  <title>Title</title>
</head>
<body>
<div class="content">
<div th:each="data:${dataMap}" class="data">
  <div class="title"><span th:text =${data.key}></span><span> 종류별 통계</span></div>
    <div th:if="${data.key=='api'}" th:each="subData:${data.value}">
      <span th:text="${subData.key}"> </span><span> : </span>
      <div th:each="apiData:${subData.value}">
        <span th:text="${apiData.key}"> </span> <span th:text="${apiData.value}"> </span>
      </div>
    </div>
    <div th:if="${data.key != 'api'}" th:each="subData:${data.value}">
      <span th:text="${subData.key}"> </span><span> : </span> <span th:text="${subData.value}"> </span>
    </div>
</div>
</div>
</body>
</html>